.navigation {
  margin: 3.278em 0em;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   li {
     
     padding: 0em 1.500em;
      a {
        color: hsl(229, 8%, 60%);
        font-size: 0.8em;
        transition: .2s ease-in;
        text-transform: uppercase;
      }
     a:hover {
         color: hsl(0, 94%, 66%);
     }
   }
   .nav--btn {
     padding: .778em 1.889em;
    background-color: hsl(0, 94%, 66%);
    border: 2px solid hsl(0, 94%, 66%);
    color: white;
    font-weight: 400;
    &:hover {
      background: transparent;
    }
   }
}

// Mobile NAvigation

.mobile__navigation {
  display: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.logo {
  color: white;
  fill: white;
}

.mobile__links {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: hsla(229, 31%, 21%, 0.932);
  z-index: 5555;
  transition: .5s ease-in;
}

.mobile__links.toggle {
  height: 688px;
  padding: 30px 50px;
}

.mobile__links .image__main {
  margin: 2.05em 0em;
  display: flex;
  align-items: center;
  justify-content: space-between;
    svg {
      margin-top: -8px;
    margin-left: 8px
    }
}

.mobile__links .mobile {
  display : flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.mobile__links .mobile li {
  width: 100%;
  display: flex;
  text-align: center;
 border-top: 1px solid white;
}
.mobile__links .mobile li a {
  margin: auto;
  text-align: center;
  font-size: 1.2em;
  padding: 28px 0px;
  text-transform: uppercase;
  color:white;
  transition: .2s ease-in;

  &:hover {
    color: hsl(0, 94%, 66%);
  }
}

.mobile__navigation .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 82px;
    left: 50%;
    transform : translate(-50%)
 
}

.icons svg:first-of-type {
  margin-right: 30px;
}

@include respond(phone) {
   .burger {
     display : block;
   }
   .navigation__links {
     display: none;
   }

   .mobile__navigation {
    display: block;
  }
}

.mobile__links .mobile li .mobile__linksa {
  font-weight: 500;
  border: 2px solid #fff;
  margin-top: 25px;
  padding: 17.5px 80px;
  transition: .2s ease-in;

  &:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
  }
}

.close {
  cursor : pointer;
}